.profile-avatar {
   font-size: 40px;
   margin: 2px;
   height: 50px;
   width: 50px;
   border: 1px solid black;
   border-radius: 2px;
   background-color: #89A;
   text-align: center;
}

.profile-nameplate {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-around;
}

.profile-name {
   font-size: 14px;
   margin: 2px;
}

.profile-btn-signout {
   border: 1px solid black;
   border-radius: 3px;
   width: 80px;
   font-size: 14px;
   text-align: center;
   background-color: #DDD;
   margin: 4px;
}

.profile-btn-signout:hover {
   background-color: #AAA;
   cursor: pointer;
}

.profile-btn-signout:active {
   background-color: #CCC;
}

.profile-link-signout {
   font-size: 14px;
}