<table>
   <thead>
      <tr>
         <th class="bs-title" colspan="7">BUDGET OVERVIEW</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="spacer-cell" colspan="2"></td>
         <th>Projected</th>
         <th>Actual</th>
         <th>Difference</th>
      </tr>
      <tr>
         <td class="math-icon-cell" rowspan="2"><i class="fas fa-plus"></i></td>
         <th>Starting</th>
         <td class="table-data">$360.94</td>
         <td class="table-data">$360.94</td>
         <td class="table-data">#####</td>
      </tr>
      <tr>
         <th>Income</th>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
      </tr>
      <tr>
         <td class="math-icon-cell" rowspan="2"><i class="fas fa-minus"></i></td>
         <th>Expenses</th>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
      </tr>
      <tr>
         <th>Savings</th>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
      </tr>
      <tr>
         <td class="math-icon-cell"><i class="fas fa-equals"></i></td>
         <th>Expenses</th>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
         <td class="table-data">#####</td>
      </tr>
   </tbody>
</table>