<table>
   <thead>
      <tr>
         <th class="bs-title" colspan="7">BALANCE SUMMARY</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th colspan="5">Starting Balance</th>
         <th>Previous</th>
         <th>Profit</th>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <th colspan="3">Total</th>
         <td class="table-data">$13,960.94</td>
         <td class="table-data">$12,446.45</td>
         <td class="table-data">$1,514,49</td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td class="table-tab"></td>
         <th colspan="2">Available</th>
         <td class="table-data">$360.94</td>
         <td class="table-data">$346.45</td>
         <td class="table-data">$14,49</td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td class="table-tab"></td>
         <td class="table-tab"></td>
         <th>Unspent</th>
         <td class="table-data">$112.71</td>
         <td class="table-data">$98.22</td>
         <td class="table-data">$14.49</td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td class="table-tab"></td>
         <td class="table-tab"></td>
         <th>Surplus</th>
         <td class="table-data">$248.23</td>
         <td class="table-data">$248.23</td>
         <td class="table-data">$0.00</td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td class="table-tab"></td>
         <th colspan="2">Savings</th>
         <td class="table-data">$13,600.00</td>
         <td class="table-data">$12,100.00</td>
         <td class="table-data">$1,500.00</td>
      </tr>
   </tbody>
</table>