<table>
   <thead>
      <tr>
         <th class="bs-title" colspan="2">PRIORITY 1</th>
         <td class="table-data">$1,340</td>
         <td class="table-data">$0.00</td>
         <td class="table-data">$0.00</td>
      </tr>
   </thead>
   <tbody>
      <tr>
         <th colspan="2">Bills</th>
         <th>Allocated</th>
         <th>Spending</th>
         <th>Underspending</th>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Electric</td>
         <td class="table-data">$100.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Phone</td>
         <td class="table-data">$50.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td></td>
         <td>Cable</td>
         <td class="table-data">$0.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Internet</td>
         <td class="table-data">$65.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Gas</td>
         <td class="table-data">$15.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Trash</td>
         <td class="table-data">$10.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Rent / Mortgage</td>
         <td class="table-data">$1,100.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
      <tr>
         <td class="table-tab"></td>
         <td>Car</td>
         <td class="table-data">$0.00</td>
         <td class="table-data"></td>
         <td class="table-data"></td>
      </tr>
   </tbody>
</table>